.HistoryText {
  color: var(--secondaryColor);
}

.HistoryTranslation {
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}

.SignedImage {
  width: 20%;
}

@media screen and (min-width: 48em) {
  .SignedImage {
    width: 10%;
  }
}