.History {
  border-radius: 15px;
  background-color: var(--primaryColor);
  text-shadow: 1px 1px 1px black;
  padding: 20px;
}

.HistoryHeaderLayout {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.HistoryHeader {
  color: var(--secondaryColor);
  grid-column: 1 / 5;
}

.HistoryClear {
  grid-column: 5;
}

.HistoryError {
  color: red;
}
