.NotFoundLayout {
  display: block;
}

.NotFoundLogo {
  width: 50%;
  display: block;
  margin: auto;
}

.NotFoundDescription {
  border-radius: 15px;
  background-color: var(--primaryColor);
  color: white;
  padding: 20px;
  margin-top: 1em;
}

.link {
  color: var(--linkColor);
}
.link:hover {
  color: var(--linkHoverColor);
}

@media screen and (min-width: 48em) {
  .NotFoundLayout {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .NotFoundLogo {
    width: 95%;
    grid-column: 1;
  }
  
  .NotFoundDescription {
    margin-top: 0;
    grid-column: 2;
  }
}