.TextInput {
  border-radius: 15px;
  background-color: var(--primaryColor);
  padding: 20px;
  margin-bottom: 1em;
}

.TranslateOuter {
  border-radius: 15px;
  background-color: var(--primaryColor);
  padding: 20px;
}

.TranslateInner {
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}

.SignedImage {
  width: 20%;
}

.TranslateError {
  color: red;
}

@media screen and (min-width: 48em) {
  .SignedImage {
    width: 10%;
  }
}
