.Heading {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  text-shadow: 3px 3px 3px darkgrey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.HeadingText {
  padding-left: 10px;
}

.Button {
  border-radius: 15px;
  border: none;
  margin: 0 10px 0 10px;
  padding: 10px 20px 10px 20px;
  background-color: var(--secondaryColor);
}

.UserGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: right;
  color: var(--primaryColor);
}

.UserGridItem {
  padding-right: 10px;
  align-items: center;
}

@media screen and (min-width: 48em) {
  .UserGrid:hover {
    text-shadow: 3px 3px 3px var(--linkHoverColor);
  }
}