.LoginLayout {
  display: block;
}

.LoginLogo {
  width: 35%;
  display: block;
  margin: auto;
}

.LoginDescription {
  border-radius: 15px;
  background-color: var(--primaryColor);
  padding: 10px 20px 10px 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.DescriptionHeader {
  color: white;
}

.DescriptionText {
  color: var(--secondaryColor);
}

.LoginInput {
  border-radius: 15px;
  background-color: var(--primaryColor);
  padding: 20px;
}

.LoginError {
  color: red;
}

@media screen and (min-width: 48em) {
  .LoginLayout {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  
  .LoginLogo {
    width: 95%;
    grid-column: 1;
    grid-row: 1 / 3;
  }
  
  .LoginDescription {
    grid-column: 2;
    grid-row: 1;
  }
  
  .LoginInput {
    grid-column: 2;
    grid-row: 2;
  }

  .LoginMessage {
    grid-column: 2;
    grid-row: 3;
  }

  .LoginError {
    grid-column: 2;
    grid-row: 3;
  }
}