.button {
  border-radius: 15px;
  border: none;
  margin: 0 10px 0 10px;
  padding: 10px 20px 10px 20px;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  font-size: large;
}

@media screen and (min-width: 48em) {
  .button:hover {
    text-shadow: 3px 3px 3px var(--linkHoverColor);
  }
}
